.mod-button{
    background-color: rgba($color: #818484, $alpha: 1.0);
}
.bg-bar{
    background-color: #d3d3d3;
}
.bg-ap{
    background-color: white;
}
.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }
 .example-full-width {
    width: 85%;
 }
